POSTGRES_USER=compound
POSTGRES_PASSWORD=replace_with_strong_password
POSTGRES_DB=compound
JWT_ACCESS_SECRET=replace_with_at_least_64_random_characters
JWT_REFRESH_SECRET=replace_with_a_different_at_least_64_character_value
OPERATOR_ASSERTION_SECRET=replace_with_a_distinct_at_least_64_character_value
